.Iconheading {
  background: #f2f5ff;
  display: flex;
  flex-direction: row;
}

.reactangle-heading {
  color: var(--font-color, #333);
  font-size: 24px;
  font-weight: 600;
}

.reactangle-para {
  color: var(--font-color, #333);
  font-size: 16px;
  font-weight: 400;
}

.icon-section {
  display: flex;
  align-items: center;
}

.text-section{
  margin-left: 2rem !important;
}