.iconHeading {
  background: #f2f5ff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

 @media (min-width:320px) and (max-width:480px) {
  .iconHeading {
    flex-direction: column !important;
    align-items: center;
  }

  .icon-section {
    display: flex !important;
    flex-direction: column !important;
  }
  .page-section {
    padding: 4rem 0;
  }
}
