.footer-section {
  background: #03344f;
}

.text-1 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.text-para {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  margin-top: 2rem;
}

.image-container{
  display: flex;
  justify-content: space-between;
}

@media (min-width:320px) and (max-width:480px){
  .image-container{
    flex-direction:column !important;
    align-items: center;
  }
  .text-para{
    text-align: center;
  }
  .text-1{
    text-align: center;
  }
}